.insiit1 {
  line-height: 105%;
}
.insiit {
  margin: 0;
}
.allTheInsights {
  margin: 0;
  font-size: var(--article-blog-size);
  letter-spacing: -0.01em;
  line-height: 120%;
}
.insiitAllTheContainer {
  position: absolute;
  top: 0;
  left: 0;
}
.insiitAllTheInsightsYouNe {
  width: 183px;
  position: relative;
  height: 85px;
}
.developedByStudents {
  flex: 1;
  position: relative;
  font-size: var(--article-blog-size);
  text-decoration: underline;
  letter-spacing: -0.01em;
  line-height: 120%;
  color: var(--color-white);
  display: inline-block;
  min-width: 170px;
  max-width: 284px;
}
.instanceChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.socialMediaInner {
  width: 32px;
  position: relative;
  height: 32px;
}
.row1,
.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socialMedia {
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.row1 {
  align-self: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 var(--padding-9xs);
}
.aboutUs,
.footerContainerChild {
  align-self: stretch;
  position: relative;
}
.footerContainerChild {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.aboutUs {
  text-decoration: underline;
  letter-spacing: -0.01em;
  line-height: 120%;
}
.column1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
  min-width: 172px;
  max-width: 270px;
}
.column1,
.footerContainer,
.row2 {
  display: flex;
  justify-content: flex-start;
}
.row2 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 40px 24px;
  text-align: left;
  font-size: var(--article-blog-size);
  color: var(--color-white);
}
.footerContainer {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-62xl);
  max-width: 1152px;
}
.footerResponsive {
  width: 1215px;
  background-color: var(--color-black);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-77xl) var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-53xl);
  color: var(--color-gray-1100);
  font-family: var(--h3);
}
