.searchBarChild {
  width: 951px;
  position: relative;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-whitesmoke-400);
  height: 59px;
  z-index: 0;
}
.searchBarItem {
  width: 63px;
  position: relative;
  background: linear-gradient(268.35deg, #0071fe, #f2f2f2);
  height: 59px;
  z-index: 1;
}
.search {
  flex: 1;
  position: relative;
  line-height: 22px;
  white-space: pre-wrap;
  z-index: 0;
}
.iconSearch {
  width: 15.22%;
  position: absolute;
  margin: 0 !important;
  height: 35.59%;
  top: 32.2%;
  right: 72.46%;
  bottom: 32.2%;
  left: 12.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.searchParent {
  width: 138px;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  background-color: var(--color-royalblue);
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 2;
}
.search1 {
  width: 76px;
  position: absolute;
  margin: 0 !important;
  top: 19px;
  left: 23px;
  line-height: 22px;
  display: inline-block;
  color: var(--color-gray-1000);
  z-index: 3;
}
.searchBar {
  width: 1152px;
  box-shadow: 10px 4px 24px -4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  text-align: center;
  font-size: var(--h3-size);
  color: var(--color-white);
}
.tag,
.tags {
  position: relative;
  line-height: 105%;
}
.tag {
  flex: 1;
  line-height: 22px;
}
.tagContainer,
.tagWrapper {
  width: 86px;
  border-radius: var(--br-16xl);
  background-color: var(--color-white);
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.tagContainer {
  width: 84px;
}
.tagWrapper1 {
  width: 150px;
}
.tagWrapper1,
.tagWrapper11,
.tagWrapper12,
.tagWrapper2,
.tagWrapper3,
.tagWrapper4,
.tagWrapper5,
.tagWrapper6,
.tagWrapper7,
.tagWrapper8 {
  border-radius: var(--br-16xl);
  background-color: var(--color-white);
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.tagWrapper2 {
  width: 135px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-gray-400);
}
.tagWrapper11,
.tagWrapper12,
.tagWrapper3,
.tagWrapper4,
.tagWrapper5,
.tagWrapper6,
.tagWrapper7,
.tagWrapper8 {
  width: 210px;
}
.tagWrapper11,
.tagWrapper12,
.tagWrapper4,
.tagWrapper5,
.tagWrapper6,
.tagWrapper7,
.tagWrapper8 {
  width: 125px;
}
.tagWrapper11,
.tagWrapper12,
.tagWrapper5,
.tagWrapper6,
.tagWrapper7,
.tagWrapper8 {
  width: 160px;
}
.tagWrapper11,
.tagWrapper12,
.tagWrapper6,
.tagWrapper7,
.tagWrapper8 {
  width: 155px;
}
.tagWrapper11,
.tagWrapper12,
.tagWrapper7,
.tagWrapper8 {
  width: 200px;
}
.tagWrapper11,
.tagWrapper12,
.tagWrapper8 {
  width: 130px;
}
.tagWrapper11,
.tagWrapper12 {
  width: 95px;
}
.tagWrapper12 {
  width: 135px;
}
.instanceParent {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--h3-size);
  color: var(--color-gray-200);
}
.instanceParent,
.tagSelect,
.tagWrapper13 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.tagSelect {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.tagWrapper13 {
  border-radius: var(--br-16xl);
  background-color: var(--color-white);
  height: 33px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.instanceGroup {
  align-self: stretch;
  gap: 18px;
  font-size: var(--h3-size);
  color: var(--color-gray-200);
}
.ctaegorySelect,
.instanceGroup,
.tagSearch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ctaegorySelect {
  align-self: stretch;
  gap: var(--gap-xs);
  text-align: left;
}
.tagSearch {
  width: 369px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-400);
  height: 900px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: 36px;
  z-index: 1;
  text-align: center;
  font-size: var(--h1-size);
}
.randomQuestionHere {
  align-self: stretch;
  position: relative;
  line-height: 105%;
}
.tagContainer1,
.tagWrapper18 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tagWrapper18 {
  width: 145px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-16xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  height: 33px;
  justify-content: center;
  padding: var(--padding-base);
}
.tagContainer1 {
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--h3-size);
  color: var(--color-gray-200);
}
.askedByJohn {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 22px;
  color: var(--color-gray-900);
}
.questionContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.questionDisplay {
  align-self: stretch;
  box-shadow: 3px 4px 16px -4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-400);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-26xl);
  cursor: pointer;
}
.questionDisplay,
.questionDisplay1,
.questionDisplayParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.questionDisplay1 {
  align-self: stretch;
  box-shadow: 3px 4px 16px -4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-400);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-26xl);
}
.questionDisplayParent {
  flex: 1;
  justify-content: center;
  gap: var(--gap-5xl);
  z-index: 2;
  font-size: var(--h2-size);
}
.next,
.showingEntries4 {
  width: 168px;
  position: absolute;
  margin: 0 !important;
  top: 1041px;
  left: 688px;
  line-height: 22px;
  display: inline-block;
  z-index: 3;
}
.next {
  width: 36px;
  top: 1087px;
  left: 754px;
  z-index: 4;
}
.forumContent {
  width: 1152px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-77xl) 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
}
.insiit1 {
  line-height: 105%;
}
.insiit {
  margin: 0;
}
.allTheInsights {
  margin: 0;
  font-size: var(--article-blog-size);
  letter-spacing: -0.01em;
  line-height: 120%;
}
.insiitAllTheContainer {
  position: absolute;
  top: 0;
  left: 0;
}
.insiitAllTheInsightsYouNe {
  width: 183px;
  position: relative;
  height: 85px;
}
.developedByStudents {
  position: relative;
  font-size: var(--article-blog-size);
  text-decoration: underline;
  letter-spacing: -0.01em;
  line-height: 120%;
  color: var(--color-white);
}
.instanceChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.socialMediaInner {
  width: 32px;
  position: relative;
  height: 32px;
}
.row1,
.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socialMedia {
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.row1 {
  align-self: stretch;
  justify-content: space-between;
}
.aboutUs,
.footerContainerChild {
  align-self: stretch;
  position: relative;
}
.footerContainerChild {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.aboutUs {
  text-decoration: underline;
  letter-spacing: -0.01em;
  line-height: 120%;
}
.column1 {
  width: 270px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.column1,
.footerContainer,
.row2 {
  display: flex;
  justify-content: flex-start;
}
.row2 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--article-blog-size);
  color: var(--color-white);
}
.footerContainer {
  width: 1152px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-62xl);
}
.footer,
.forumPageContent {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.footer {
  background-color: var(--color-black);
  justify-content: center;
  padding: var(--padding-77xl) 0;
  text-align: center;
  font-size: var(--font-size-53xl);
  color: var(--color-gray-1100);
}
.forumPageContent {
  position: absolute;
  top: 106px;
  left: 0;
  height: 1739px;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.menuItemlogoChild {
  width: 86px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-black);
  height: 86px;
  z-index: 0;
}
.insiit2,
.subtract {
  width: 96px;
  position: relative;
  margin: 0 !important;
  height: 94px;
  z-index: 1;
}
.insiit2 {
  width: 56.25%;
  position: absolute;
  height: 1.28%;
  top: 58.62%;
  left: 22.6%;
  line-height: 22px;
  display: inline-block;
  z-index: 2;
}
.menuItemlogo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--article-blog-size);
  color: var(--color-floralwhite);
}
.menuItem1 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.menuItem,
.menuItem2,
.menuItem4,
.menuItem6,
.menuItem8 {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.menuItem {
  left: 450px;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  color: var(--color-white);
}
.menuItem2,
.menuItem4,
.menuItem6,
.menuItem8 {
  left: 667px;
}
.menuItem4,
.menuItem6,
.menuItem8 {
  left: 805px;
}
.menuItem6,
.menuItem8 {
  left: 929px;
}
.menuItem8 {
  left: 1051px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-300);
  color: var(--color-white);
}
.menuItemlogoParent {
  width: 1152px;
  position: relative;
  height: 94px;
}
.menuItems,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navbar {
  width: 1152px;
  overflow: hidden;
  justify-content: center;
}
.forum,
.header {
  background-color: var(--color-white);
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--h3-size);
  color: var(--color-gray-1200);
}
.forum {
  width: 100%;
  position: relative;
  height: 1845px;
  text-align: left;
  font-size: var(--article-blog-size);
  color: var(--color-black);
  font-family: var(--h3);
}
